<!DOCTYPE html>
<html lang="es-mx" class="no-js" >

<head>
    <meta charset="utf-8" />
    
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="/img/ico/57x57.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/ico/76x76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/ico/120x120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/ico/152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/ico/180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/img/ico/192x192.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Canonical SEO -->
    <link rel="canonical" href="" />
    <!--  Social tags      -->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="">
    <meta itemprop="description" content="">
    <meta itemprop="image" content="img/logo.jpg">
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="product">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:creator" content="">
    <meta name="twitter:image" content="/img/logo.jpg">
    <!-- Open Graph data -->
    <meta property="og:title" content="" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="/img/logo.jpg" />
    <meta property="og:description" content="" />
    <meta property="og:site_name" content="" />

    <title>Flylancer {{ title }}</title>

    <link rel="stylesheet" href="/css/master.css" >
    {{!-- <link rel="stylesheet" href="/css/{{ extStyle }}.css" > --}}
    
</head>
<body>
    <div id="pre-loader" class="loader-container">
		<div class="loader">
			<div></div>
			<div></div>
		</div>
	</div>